<.header>
  Edit Truck <%= @truck.id %>
  <:subtitle>Use this form to manage truck records in your database.</:subtitle>
</.header>

<.truck_form changeset={@changeset} action={~p"/trucks/#{@truck}"} />

<.back navigate={~p"/trucks"}>Back to trucks</.back>
