<.header>
  San Francisco Food Trucker
  <br />

  <.link href={~p"/trucks/"}>
    <.button>Manage Trucks (Basic Phoenix CRUD Pages)</.button>
  </.link>

  <.link href={~p"/trucks-live/"}>
    <.button>Search Trucks (LiveView Search)</.button>
  </.link>
</.header>
